{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Login form</h1>
    <form action="/login/" method="post">
        <label for="username">Username</label>
        <input type="text" name="username">
        <p></p>
        <label for="password">Password</label>
        <input type="password" name="password">
        <p></p>
        <label for="y">Y = </label>
        <input type="text" name="y" >
        <p></p>
        <input type="hidden" name="x" value="2">
        <input type="submit" value="Login">
    </form>
</body>
</html>